body {
  font-family: Palatino, Times New Romen, Arial, sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left; 
  color: white;
  padding: 50px 90px; 
  background-color: #005AB5;
}

.header-text {
  display: flex;
  flex-direction: column;
  width: 54%;
}

.header h1{
  font-size: 2.7rem; 
  line-height: 1.2;
  color: #A6FFFF;
}

.top-right-icon {
  margin-left: 150px;
  max-height: 320px;
  max_width: 320px;
}

.cycle {
  display: flex;
  flex-direction: column;
}

.cycle h1 {
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.cycle-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:0px 100px 70px 100px;
}

.card-icon {
  width: 50px;
  height: 50px;
}

.card {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
  padding:30px 20px 0px 20px;
  width: 220px; 
  height: 300px; 
  text-align: center;
  position: relative;
}

.card p {
  font-size: 0.85rem;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.card.active {
  background-color: #0069b5;
  color: white;
  border: 2px solid #ddd;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content-section {
  display: none;
}

.content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 90px;
  background-color: #FAFAFA;
}

h2 {
  font-size: 2.0rem;
}

.text b {
  font-size: 1.3rem;
}

.content1 .img {
  height: 300px;
  margin-left: 70px;
}

.c-text1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 90px;
  background-color: #FAFAFA; 
}

.c2-image1 {
  width: 200px;
  margin: 50px;
}

.c-text2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 90px;
  background-color: white; 
}

.c2-image2 {
  width: 200px;
  margin: 30px;
}

.c-text2 .text {
  margin-left: 60px;
}

.c2-text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 90px;
  background-color: #FAFAFA; 
}

.ex-text {
  text-align: center;
}

.c-text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 90px;
  background-color: #FAFAFA; 
  text-align: left;
}

.c2-text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 90px;
  background-color: #FAFAFA; 
  text-align: left;
}

.ginger {
  width: auto;
  height: 300px;
  object-fit: contain;
  margin: 30px 0;
}

.example {
  margin: 30px 0 0;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: white;
}

.ginger-img {
  width: 480px;
  height: auto;
  margin-left: 50px;
}

.content3 {
  padding: 50px 90px;
}

.c3-image1 {
  width: 200px;
  padding: 50px;
  margin-left: 30px;
}

.c3-image2 {
  width: 200px;
  margin: 30px;
}

.c3-text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 90px;
  background-color: #FAFAFA; 
}

.wysa-img1 {
  margin: 30px 0;
  height: 300px;
}

.wysa-img2 {
  width: 480px;
  height: auto;
  margin-left: 50px;
  padding: 30px 0;
}

.wysa-img3 {
  width: 180px;
  height: auto;
  margin:0 30px;

}

.c3-text3 .example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #FAFAFA;
}

.wysa1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 50px;
}

.wysa2 {
  display: flex;
  flex-direction: row;
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
}

.c4-1 {
  padding: 50px 90px;
  background-color: #FAFAFA;
}

.c4-text1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 90px;
  background-color: white; 
}

.c4-text2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 90px;
  background-color: #FAFAFA; 
}

.c4-text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 90px;
  background-color: white;
}

.img {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.c4-img {
  height: 300px;
  margin: 30px;
}

.c4-image2 {
  width: 200px;
  margin-right: 80px;
}

.content-section.hidden {
  display: none;
}

.content-section.active {
  display: block;
  background-color: white;
}

.content-image {
  display: block;
  margin: 0 auto;
  height: 450px;
}

.footer {
  height: 60px;
  background-color: #005AB5;
}

@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .header-text {
    width: 65%;
  }

  .top-right-icon {
    width: 30%;
    margin-left: 5%;
  }

  .cycle-cards {
    padding:0px 5% 70px;
  }

  .card {
    height: 350px; 
  }

  .content1 {
    display: flex;
    flex-direction: column;
  }

  .content1 .img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .example {
    display: flex;
    flex-direction: column;
  }

  .c-text1 {
    display: flex;
    flex-direction: column;
  }

  .c-text2 {
    display: flex;
    flex-direction: column;
  }

  .wysa1 {
    display: flex;
    flex-direction: column;
  }

  .img {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
  }

  .header-text {
    width: auto;
    padding: 0 10%;
  }

  .top-right-icon {
    margin: 0 auto;
  }

  .cycle-cards {
    display: flex;
    flex-direction: column;
  }

  .content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }

  .content1 .img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .c-text1 {
    display: flex;
    flex-direction: column;
    padding: 10%;
  }

  .c-text2 {
    display: flex;
    flex-direction: column;
    padding: 10%;
  }

  .c-text2 .text {
    margin: 0;
    padding: 5% 0;
  }

  .c2-text3 {
    padding: 10%;
  }
  
  .example {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
  }

  .ginger-img {
    width: 100%;
    margin: 0;
  }

  .wysa-img1 {
    width: 100%;
    height: auto;
  }

  .wysa1 {
    display: flex;
    flex-direction: column;
  }

  .wysa-img2 {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .wysa2 {
    display: flex;
    flex-direction: column;
  }

  .c4-text1 {
    display: flex;
    flex-direction: column;
  }

  .c4-text2 {
    display: flex;
    flex-direction: column;
  }

  .c4-image2 {
    margin: 5% 0;
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .c4-img {
    width: 100%;
    height: auto;
    margin: 30px;
  }
}